@{
    ViewData["Title"] = "Buy and sell";
}

@section Sale {
    <div>
        This is a sale section...
    </div>
}

@section Buy {
    <div>
        This is a buy section...
    </div>
}

<div class="container">
    This is the body...
</div>
