@model task2.Models.ParkingTicketMachine

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Cancel</title>
</head>
<body>
<div>
    <h1>@ViewData.Model.AmountInserted kr is paid back</h1>
</div>
</body>
</html>